<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h2>Modify Question</h2>
    <form action="{{ url_for('modify_question', question_id=question.id) }}" method="post">
        <label for="text">Question:</label><br>
        <textarea id="text" name="text" rows="4" cols="50" required>{{ question.text }}</textarea><br><br>

        <label for="option_a">Option A:</label><br>
        <input type="text" id="option_a" name="option_a" value="{{ question.option_a }}" required><br><br>

        <label for="option_b">Option B:</label><br>
        <input type="text" id="option_b" name="option_b" value="{{ question.option_b }}" required><br><br>

        <label for="option_c">Option C:</label><br>
        <input type="text" id="option_c" name="option_c" value="{{ question.option_c }}" required><br><br>

        <label for="option_d">Option D:</label><br>
        <input type="text" id="option_d" name="option_d" value="{{ question.option_d }}" required><br><br>

        <label for="correct_option">Correct Option:</label><br>
        <input type="text" id="correct_option" name="correct_option" value="{{ question.correct_option }}" required><br><br>

        <button type="submit">Save Changes</button>
    </form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>